.users-data tr, .users-data th,.users-data td{
    border: 2px solid ;
    box-shadow: 0 0 10px darkcyan;
}

.users-data{
    width: 100vw;
    height: 100vh;
}

.users-data table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: larger;
}
.users-data th,.users-data td{
    width: 90px;
    height: 60px;
}
.users-data th{
    background: linear-gradient(white,silver,white );
}